# Exclure les répertoires __pycache__ partout
**/__pycache__/

# Exclure les sorties et caches
Outputs/
.pytest_cache/
temp/

# Exclure les répertoires spécifiques
playground/
liuhaotian/
shared/
fichiers_deploiements_aws/
Inputs/
Vosk/

# Fichiers temporaires et archives
*.tar
*.zip

# Exclure des sous-répertoires _pycache_ spécifiques
backend/*/__pycache__/
backend/generation-resume/__pycache__/
backend/generation-resume/slowfast_llava/llava/__pycache__/

# Autres exclusions spécifiques
.env
